@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

.done-tasks {
    margin-top: 500px;
    font-family: 'Funnel Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #99B898; /* salmon */
    text-shadow: 1px 1px 2px rgba(128, 0, 0, 0.3); /* maroon glow */
    letter-spacing: 1px;
  }
  