.add-button {
    background-color: #FECEA8;
    color: #2A363B;
  
    /* Prevent button from growing too tall */
    height: 40px; /* fixed height */
    padding: 0 18px; /* horizontal padding only */
  
    font-size: 30px; /* larger text */
    line-height: 40px; /* match height to center text vertically */
  
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .add-button:hover {
    background-color: #E8B890;
    color: #2A363B;
  }
  .add-button:focus {
    outline: none;
  }